* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.container {
    background-color: #1C1C1C;
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: end;
    margin: 15vh auto;
    padding: 0;
    width: 25%;
}

.result-screen {
    color: #ffffff;
    font-size: 2.5rem;
    grid-column: span 4;
    padding: 50px 5px 10px;
    text-align: right;
}

.btn {
    background-color: #d4d4d2;
    border: none;
    font-size: inherit;
    height: 6vw;
    margin: .08vw;
    outline: none;
}

.btn:hover {
    background-color: #e2e2e2;
}

.btn:active {
    background-color: #505050;
}

.btn-clear {
    grid-column: span 2;
}

.btn-0 {
    grid-column: span 3;
}

.btn-divide,
.btn-times,
.btn-minus,
.btn-plus,
.btn-equals {
    background-color: #f5a31a;
    color: #ffffff;
    margin-right: 0;
}

.btn-divide:hover,
.btn-times:hover,
.btn-minus:hover,
.btn-plus:hover,
.btn-equals:hover {
    background-color: #ffbd69;
}

.btn-divide:active,
.btn-times:active,
.btn-minus:active,
.btn-plus:active,
.btn-equals:active {
    background-color: #ff9234;
}

.btn-clear,
.btn-7,
.btn-4,
.btn-1,
.btn-0 {
    margin-left: 0;
}

.btn-clear,
.btn-delete,
.btn-divide {
    margin-top: 0;
}

.btn-0,
.btn-equals {
    margin-bottom: 0;
}

